@import "tailwindcss";
/* Floating effect */
/* Ultra-slow float */
@keyframes floatMain {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes floatSmall {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-6px); }
}

.animate-float-main {
  animation: floatMain 8s ease-in-out infinite;
}

.animate-float-small {
  animation: floatSmall 6s ease-in-out infinite;
}

.delay-200 { animation-delay: 0.2s; }
.delay-500 { animation-delay: 0.5s; }
.delay-700 { animation-delay: 0.7s; }

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradientMove 6s linear infinite;
}
